/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.container {
    width: 880px;
    margin: auto;
}

/* Header Styles */

header {
    width: 100%;
    display: flex;
}

header nav {
    margin-top: 40px;
    width: 610px;
    justify-content: space-between;
    display: flex;
}

header nav a {
    text-decoration: none;
    color: #b0b0b0;
}

header nav a:hover {
    text-decoration: underline;
    color: black;
}

header .logo {
    margin: 28px 0 0 91px;
}



/* Footer Styles */

footer {
    text-align: center;
    margin: 40px 0 20px;
}

/* Services Styles */

.services-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1.3;
}

.services-content .services-header-img {
    margin: 20px 0;
}

.services-content h1 {
    font-size: 26px;
    margin: 10px 0;
}

.services-content .services-text {
    border-bottom: 1px solid black;
    padding-bottom: 40px;
    margin-bottom: 20px
}

.services-content .card {
    padding: 20px;
    border: 1px solid black;
    width: 420px;
    background: whitesmoke;
    margin: 20px 0;
}

.services-content .card button {
    padding: 10px 40px;
    margin-top: 20px;
    cursor: pointer;
    background: white;
    border-radius: 5px;
    border: 1px solid black;
}

.services-content .card button:hover {
    background: black;
    color: white;
}

.services-content .services-info ul {
    margin: 20px;
}

.services-content .services-info ul li {
    list-style: square;
    padding: 5px;
}

.services-content .services-info {
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid black;
    margin: 20px 0 35px 0;
    padding-top: 40px;
}

.services-content .services-info .facts {
    width: 400px;
    margin: 0 60px 20px 0;
}

.services-content .services-info .facts p {
    margin-bottom: 20px;
}

.services-content .services-info .services-info-img {
    width: 420px;
    height: 300px;
}


/* media */

@media only screen and (max-width: 500px) {
    .container {
        width: 100%;
        /* background: gray; */
    }

    .container header {
        width: 100%;
        margin-top: 12%;
    }

    header .logo {
        /* display: block; */
        /* width: 50%; */
        position: absolute;
        top: 0px;
        /* margin-top: 10px; */
        margin: 40px -68%;

    }

    .container header nav {
        /* border-top: 1px solid black; */
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .container header nav a {
        border-top: 1px solid black;
        /* width: 100%; */
        padding: 20px 10px;
        width: 100%;
        font-weight: 600;
    }


    .services-content {
        display: flex;
        border-top: 1px solid black;
        flex-direction: column;
        align-items: center;
    }


    .services-content .services-text {
        width: 95%;
        border-bottom: 1px solid black;
        /* padding-bottom: 40px; */
        margin-bottom: 20px;
        padding: 20px;
        font-weight: 600;
    }

    .services-content .services-header-img {
        margin: 20px 2%;
        width: 95%;
    }

    .services-content .card {
        display: flex;
        flex-direction: column;
    }

    .services-content .services-info {
        display: flex;
        flex-wrap: wrap;
        border-top: 2px solid black;
        margin: 20px 0 35px 0;
        padding-top: 40px;
        flex-direction: column;
        align-items: center;
        
    }
    .services-info .services-info-img {
        width: 70%;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        width: 100%;
        /* background: gray; */
    }

    .container header {
        width: 100%;
        margin-top: 12%;
    }

    header .logo {
        position: absolute;
        top: 0px;
        /* margin-top: 10px; */
        margin: 40px -60%;

    }

    .container header nav {
        /* border-top: 1px solid black; */
        width: 100%;
        display: flex;
    }

    .container header nav a {
        border-top: 1px solid black;
        /* width: 100%; */
        padding: 20px 10px;
        width: 100%;
        font-weight: 600;
    }


    .services-content {
        display: flex;
        border-top: 1px solid black;
        flex-direction: column;
        align-items: center;
    }


    .services-content .services-text {
        width: 95%;
        border-bottom: 1px solid black;
        /* padding-bottom: 40px; */
        margin-bottom: 20px;
        padding: 20px;
        font-weight: 600;
    }

    .services-content .services-header-img {
        margin: 20px 2%;
        width: 95%;
    }

    .services-content .card {
        display: flex;
        flex-direction: column;
    }

    .services-content .services-info {
        width: 95%;
    display: flex;
    /* flex-wrap: wrap; */
    border-top: 2px solid black;
    margin: 20px 0 35px 0;
    /* padding-top: 40px; */
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    }

    .services-content .services-info .services-info-img {
        width: 39%;
    }
}